
.rspec
src/log
src/tmp
src/db/*.sqlite3
src/db/*.sqlite3-journal
src/public/system
src/coverage/
src/spec/tmp
**.orig
rerun.txt

src/config/initializers/secret_token.rb
src.config/secrets.yml

.env

src/.bundle
src/vendor

.rvmrc

.byebug_history
